exports.config = {
    amazon_west: {
        accessKeyId: 'lorem',
        secretAccessKey: 'ipsum',
        region: "eu-west-1",
    },
    amazon_central: {
        accessKeyId: 'lorem',
        secretAccessKey: 'ipsum',
        region: "eu-central-1",
    },
    buckets: {
        sourceBucket: "dolor",
        targetBucket: "sit"
    }
}